.title1 {
  text-orientation: left;
  font-size: 40px;
}
@media only screen and (max-width: 768px) {
  .text2 {
    text-align: left;
    font-size: 12px;
    width: 325px;
    padding: 10px;
    margin: 0 auto;
  }
  .title1 {
    text-align: center;
    font-size: 35px;
  }
}
@media only screen and (max-width: 480px) {
  .text2 {
    text-align: left;
    font-size: 12px;
    width: 325px;
    padding: 10px;
    margin: 0 auto;
  }

  .title1 {
    text-align: center;
    font-size: 25px;
  }

  .bodytext1 {
    /* background-color: powderblue; */

    width: 325px;
  }

  .oldNort {
    width: 370px;
    height: 150px;
  }
}
