.site-layout-content {
  position: relative;
}

.class-pic {
  display: block;
  margin: 30px auto;
  border: 1px solid #000;
  border-radius: 5%;
  width: 700px;
  max-height: 400px;
}

.featured-item {
  display: flex;
  flex-direction: row;
  border: 1px solid #333;
  justify-content: space-between;
  background-color: #eee;
}

.featured-item h1 {
  font-size: 38px;
}
.book-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.btn {
  margin: 0;
}

.book-img {
  width: 600px;
}

.covertitle {
  position: absolute;
  color: white;
  top: 40px;
  left: 466px;
  width: 30%;

  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(172, 161, 138, 0.7);
  padding: 20px 20px 21px 20px;
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}

.hint {
  font-size: 8px;
}

.bookTitle {
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(172, 161, 138, 0.7);
  padding: 20px 20px 20px 20px;
  width: 40%;
  left: 378px;
  position: relative;
  color: black;
}
.coverpic {
  width: 100%;
  text-align: center;
  position: relative;
  padding: 0px 40px 0px 0px;
  min-width: 852px;
}

.card-content {
  display: inline-block;
  /* padding: 24px;
  width: 30%;
  height: 30%; */
  max-width: 350px;
  max-height: 100px;
}

@media only screen and (max-width: 768px) {
  .site-layout-content {
    padding-left: 0px;
  }

  .featured-item {
    flex-direction: column;
    margin: auto;
  }

  .card-content {
    display: block;
    margin: auto;
  }

  .book-img {
    width: 100%;
    margin: auto;
  }

  .book-content {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .book-content h1 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .book-content p {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .card-content:last-child {
    margin-bottom: 300px;
  }
}
