@import "~antd/dist/antd.css";

.cards {
  max-width: 250px;
  min-width: 250px;
}

.cardpic {
  max-width: 250px;
  max-height: 250px;
  min-height: 250px;
  min-width: 250px;
}
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal p {
  margin-top: 10px;
}

.modalpic {
  max-width: 400px;
  max-height: 400px;
  margin: auto;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .modalpic {
    width: 250px;
  }
}
