@import "~antd/dist/antd.css";

.cards {
  max-width: 250px;
  min-width: 250px;
}

.cardpic {
  max-width: 250px;
  max-height: 250px;
  min-height: 250px;
  min-width: 250px;
}

.modalpic {
  max-width: 400px;
  max-height: 400px;
  padding: 10px 10px 10px 50px;
}
